In [25]:
import pandas as pd
import streamlit as st

In [ ]:
# running the streamlit app
# $ streamlit run app.py

In [22]:
df = pd.read_csv('../99-data/atbat_count_FE_V1.csv.zip')

In [23]:
df.head()

,pitch_type,ab_id,b_count,s_count,outs,on_1b,on_2b,on_3b,batter_id,g_id,pitcher_id,batter_fname,batter_lname,pitcher_fname,pitcher_lname,batter_count,pitcher_count
0,FF,2.015000e+09,0.0,0.0,0.0,0.0,0.0,0.0,572761,201500001,452657,Matt,Carpenter,Jon,Lester,even,even
1,FF,2.015000e+09,0.0,1.0,0.0,0.0,0.0,0.0,572761,201500001,452657,Matt,Carpenter,Jon,Lester,behind,ahead
2,FF,2.015000e+09,0.0,2.0,0.0,0.0,0.0,0.0,572761,201500001,452657,Matt,Carpenter,Jon,Lester,behind,ahead
3,FF,2.015000e+09,0.0,2.0,0.0,0.0,0.0,0.0,572761,201500001,452657,Matt,Carpenter,Jon,Lester,behind,ahead
4,CU,2.015000e+09,1.0,2.0,0.0,0.0,0.0,0.0,572761,201500001,452657,Matt,Carpenter,Jon,Lester,behind,ahead